<div class="header bg-primary">
    <h1><img src=".../../../assets/images/codelaptop.jpg"><b>CODEPRO TECHNOLOGY AND NETWORKINGS</b></h1>
    <div class="sub">
        <sub><b>We are Technology and Networking Innovative</b></sub>
    </div>
    
</div>

<div class="links">
    <a routerLink="Home">Home</a>
    <a routerLink="AboutUs">About Us</a>
    <a routerLink="Solutions">Solutions</a>
    <a routerLink="Contact">Contact Us</a>
    <a routerLink="Login">Login</a>
    </div>
<router-outlet></router-outlet>
