<div class="imagetop">

    <div class="paragraph">
        <p>GET 24 / 7 SURPORT</p>
    </div>

    <div class="about">
        <h1>Contact Us</h1>
    </div>
</div>
<div class="contact_details">
    <div class="form">
        <h2>Have you any queston ?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Iure sapiente nesciunt <br> iste necessitatibus animi error, fugit sed accusantium hic sint.</p>
        <form>
           <div class="column">
            <div class="row">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email"> 
               </div>
              <div class="row">
                <input type="text" placeholder="Phone"> 
                <input type="text" placeholder="Subject">
              </div>
           </div>
            <textarea name="Message" id="" cols="25" rows="13" placeholder="Message"></textarea>
            <button class="btn btn-primary">SUBMIT</button>       
        </form>
    </div>

    <div class="detail-image">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8173979050343!2d36.36123347502955!3d0.03896096438644409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1787630bc25474f5%3A0xb2400ecb07e3e58c!2sBREEZE%20HOTEL%20NYAHURURU!5e0!3m2!1sen!2ske!4v1706378398595!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<div class="footer">
    <div class="row">
      <h1>About Us</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque earum
      similique hic. Suscipit unde alias ab necessitatibus, quidem voluptatum
      commodi.
    </div>

    <div class="row">
      <h1>Get in Touch</h1>
      <p>Kenya</p>
      <p>Email: jk262771@gmail.com</p>
      <p>Phone Number: +254769898517</p>
    </div>

    <div class="row">
      <h1>Pages</h1>
      <p>Home</p>
      <p>About</p>
      <p>Contact</p>
      <p>Products</p>
    </div>

    <div class="row2">
      <h1>Subcribe</h1>
      <p>subcruibe to our mailinglist to get latest updates</p>
      <p><input type="email" placeholder="Email" /> <button>send</button></p>
    </div>
  </div>


