<div class="container">
    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> HTML & CSSS</h2>
            <p class="card-text"> Get to learn basic and advance HTML & CSS for web development</p>
            <a href="" class="btn btn-primary" routerLink="Login">Start Learning</a>
        </div>
    </div>
    
    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> Javascript</h2>
            <p class="card-text"> Get to learn basic and advance Javascript for web development</p>
            <a href="#" class="btn btn-primary">Start Learning</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> PHP</h2>
            <p class="card-text"> Get to learn basic and advance PHP for web development</p>
            <a href="#" class="btn btn-primary">Start Learning</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> Angular Js</h2>
            <p class="card-text"> Get to learn basic and advance Angular Js for web development</p>
            <a href="#" class="btn btn-primary">Start Learning</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> Node js & Typescript</h2>
            <p class="card-text"> Get to learn basic and advance Node js & Typescript for Backend development</p>
            <a href="#" class="btn btn-primary">Start Learning</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> MSSQL & SQL</h2>
            <p class="card-text"> Get to learn basic and advance MSSQL & SQL for Databases</p>
            <a href="#" class="btn btn-primary">Start Learning</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> Java</h2>
            <p class="card-text"> Get to learn basic and advance Java for web development,Android apps using kotlin</p>
            <a href="#" class="btn btn-primary">Start Learning</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-tittle"> Python</h2>
            <p class="card-text"> Get to learn basic and advance Python for web development,AI, machine learning etc</p>
            <a href="#" class="btn btn-primary">Start Learning</a>
        </div>
    </div>
    
</div>

