.imagetop {
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/codelaptop.jpg);
  }
  .paragraph {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  
  .paragraph p {
    margin-top: 15%;
    margin-left: 23%;
    font-size: 30px;
    color: white;
  }
  .about h1 {
    margin-top: 40px;
    margin-left: 42%;
    font-size: 50px;
    color: white;
  }
  .container{
    height: 100vh;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
  .one .two{
    display: flex;
    flex-direction: row;
    
  }
  .img img{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: dashed coral;
  }
  .images img{
    height: 50vh;
    width: 40vw;
    margin-right:40px;
  }
  .best-price{
    display: flex;
    flex-direction: row;
    
  }
  .words{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 20px;
  }
  .words,.one,.two{
    margin-top: 60px;
    margin-left: 30px;
    gap: 80px;
  }
  h1{
    display: flex;
    margin-left: 20%;
    margin-top: 30px;
  }
  .footer{
    display: flex;
    flex-direction: row;
    background-color:#000066;
    width: 100%;
    height: 40vh;
    margin-top: 50px;
    font-weight:100;
  
  }
  .row{
    color: white;
    width: 100%;
    padding: 45px; 
    
  }
  .row2{
    
    color: white;
    width: 100%;
    padding: 45px;
    margin-left: 30px;
  }
  .row2 input{   
    height: 40px;
    background-color: rgb(48, 47, 47);
    border: none;
    color: white;
  }
  .row2 button{
    height: 40px;
    width: 50px;
    background-color: rgb(48, 47, 47);
    border: none;
    color: white;
      
  }