<div class="imagetop">
    <div class="paragraph">
      <p>WE ARE THE SOLUTION TO FUTURE TECHNOLOGY </p>
    </div>
  
    <div class="about">
      <h1>About Us</h1>
    </div>
  </div>
  <h1>WHY CodePro Technology</h1>
  <div class="container">
    <div class="words">
      <div class="one">
        <div class="best-price">
          <br /><br /><br /><br />
          <div class="img">
            <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>Online Teaching</h2>
            <br />
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
  
        <div class="best-price">
          <div class="img">
            <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>Software Development</h2>
            <br />
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
      </div>
  
      <div class="two">
        <div class="best-price">
          <div class="img">
            <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>Banking solutions</h2>
            <br />
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
  
        <div class="best-price">
          <div class="img">
            <img src="../../assets/images/codelaptop.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>POS Systems</h2>
            <br />
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
      </div>
  
      <div class="images">
        <img src="../../assets/images/codelaptop.jpg" alt="" />
      </div>
    </div>
    
  </div>
  <div class="footer">
    <div class="row">
      <h1>About Us</h1>
      <hr style="color: rgb(239, 73, 13); width: 10px" />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque earum
      similique hic. Suscipit unde alias ab necessitatibus, quidem voluptatum
      commodi.
    </div>
  
    <div class="row">
      <h1>Get in Touch</h1>
      <hr style="color: coral; width: 10px" />
      <p>Kenya</p>
      <p>email: jk262771@gmail.com</p>
      <p>+254769898517</p>
    </div>
  
    <div class="row">
      <h1>Pages</h1>
      <hr style="color: coral; width: 10px" />
      <p>Home</p>
      <p>About</p>
      <p>Contact</p>
      <p>Products</p>
    </div>
  
    <div class="row2">
      <h1>Subcribe</h1>
      <hr style="color: coral; width: 10px" />
      <p>subcruibe to our mailinglist to get latest updates</p>
      <p><input type="email" placeholder="Email" /> <button>send</button></p>
    </div>
  </div>
  

